.about-section {
  background-color: #f0f0f0;
  margin: 25px auto;
  padding: 80px;
  align-content: center;
  border-radius: 25px;
  height: 400px;
  width: 70%;
}

.about-section h1 {
  text-align: left;
  font-style: italic;
  color: rgb(6, 62, 7);
  padding-bottom: 20px;
  padding-top: 30px;
}

.about-section p {
  text-align: justify;
  color: #666;
  padding-bottom: 20px;
}

.abt {
  text-align: top;
  color: black;
  font-size: 12px;
  margin-top: -60px;
  letter-spacing: 3px;
}

hr {
  width: 50px;
  height: 3px;
  background: black;
  margin-top: -10px;
}

/* button */
.story {
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 16px;
  color: white;
  font-size: 15px;
  width: 150px;
}

.story:hover {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(15, 59, 10, 0.71);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 16px;
  color: white;
}


/* FOR RESPONSIVENESS */

@media (max-width: 768px) {
  .about-section {
    padding: 20px;
    /* Adjust padding for smaller screens */
  }

  .about-section h1 {
    font-size: 24px;
    /* Adjust font size for smaller screens */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-section p {
    font-size: 12px;
    /* Adjust font size for smaller screens */
    padding-bottom: 10px;
  }

  .abt {
    font-size: 10px;
    /* Adjust font size for smaller screens */
    margin-top: -10px;
  }
}