.container {
    display: grid;
    margin-bottom: 20px;
    font-size: large;
}

.faq-container {
    background-color: #f0f0f0;
    margin: 25px auto;
    padding: 80px;
    align-content: center;
    border-radius: 25px;
    height: 500px;
    width: 70%;
}

.faq-container h1 {
    text-align: left;
    font-style: italic;
    color: rgb(6, 62, 7);
}

.faq-container h2 {
    text-align: left;
    font-size: large;
    color: rgb(6, 62, 7);
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 800;
}

.faq-container p {
    text-align: left;
    color: #666;
    padding-bottom: 20px;
  }


.answer-container {
    display:  flex;
    flex-wrap: wrap;
    background-color: rgba(44, 105, 116, 0.875);
    justify-content: center;

  }