body {
  background-image: url(https://images.unsplash.com/photo-1523766775147-152d0d6e2adb?q=80&w=3088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: beige;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-color: rgba(240, 238, 235, 0.436);
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.img-content {
  width: 100%;
  height: auto;
  display: cover;

}

.bannersection {
  padding: 20px;
}

.hero-btn {
  position: absolute; /* Position button absolutely within the banner */
  top: 85%; /* Center vertically */
  left: 76%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  padding: 10px 20px; 
  background-color: #333;
  width: 170px;
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}

.hero-btn:hover {
  background-color: pink;
  color: #333;
}

@media screen and (min-width: 500px) and (max-width:645px) {
  .hero {
    padding: 5px;
  }

  .banner {
    padding-top: 5px;
  }

  .hero-btn {
    position: absolute; 
    top: 87%; 
    left: 76%; 
    width: 100px; 
    font-size: 8px; 
    transform: translate(-50%, -50%);
  }
}