
  body {
    background-image: url(https://images.unsplash.com/photo-1523766775147-152d0d6e2adb?q=80&w=3088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero {
    background-color: rgba(240, 238, 235, 0.436);
  }
  
  .mySlides {
    display: none;
  }
  
  .img-content {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
  
  .slideshow-container  {
    max-width: 80%;
    max-height: 600px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
    border-radius: 10px;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: white;
    z-index: 1000;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: .4;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .herobtn {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .shopfresh {
    padding: 8px 16px;
    background-color: rgba(15, 59, 10, 0.71);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: white;
    font-size: 15px;
    width: 250px;
}

.shopfresh:hover {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: white; 
}



@media (max-width: 540px) {


  .prev,
  .next {
      font-size: 20px;
      padding: 10px;
  }

  .slideshow-container {
    max-width: 90%; 
}

.shopfresh {
  font-size: 10px;
  width: 70%; 
  max-width: 150px; 
}
}