.video {
    background-color: #2b3d27;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.video video {
    width: 100%;
    height: auto;
    max-width: 800px;
    /* Max width for the video element */
}

.video-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.videosection {
    padding: 20px;
}

.videosection h1 {
    text-align: center;
    font-style: italic;
    color: rgb(240, 240, 240);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 50px;
}

.videosection p {
    text-align: center;
    color: #f6ecec;
    padding-bottom: 10px;
}

.videobtn {
    display: flex;
    justify-content: center;
}
.video-btn {
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: white;
    font-size: 15px;
    width: 150px;
    display: inline-block;
}

.video-btn:hover {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(38, 106, 32, 0.71);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: white;
}

/* Media queries for smaller screens */

@media screen and (min-width: 320px) and (max-width:768px) {
    .video {
        max-width: 100%;
        padding: 15px;
    }

    .video video {
        max-width: 100%;
    }

    .videosection h1{
        font-size: 20px;
    }

    .videosection p {
        font-size: 14px;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .video {
        max-width: 100%;
        padding: 20px;
    }

    .video video {
        max-width: 100%;
    }
}

/* @media (max-width: 1200px) {
    .video {
        max-width: 100%;
    }

    .video video {
        max-width: 100%;
    }
} */